@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.length {
    width: 500px;
    border-radius: 20px;
}

.remove {
    color: blue;
    background-color: white;
    border-width: 0px;
    font-weight: bold;

}

.info {
    border-radius: 15px;
    border-width: 0px;
    width: 120px;
    height: 50px;
    margin-left: 545px;

}

.right {
    text-align: right;
}

.info1 {
    border-radius: 15px;
    border-width: 0px;
    width: 120px;
    height: 50px;
    margin-left: 480px;

}

.card {
    background-color: white;
    border-style: solid;
    border-radius: 6px;
    border-width: 3px;
    border-color: #e5eaf4;
}

.button {
    background-color: black;
    border-radius: 20px;
    color: white;
}

.button5 {
    background-color: black;
    border-radius: 20px;
    color: white;
    width: 70vw;
    height: 40px;
}

.button1 {
    background-color: white;
    border-radius: 20px;
    border-width: 0px;
}

.select {
    height: 45px;
    border-radius: 0px;
}

.padding {
    padding-left: 200px;
}

.bg {
    background-color: lightblue;
}

.font {
    font-size: 28px;
    font-weight: 500;
}

.button3 {
    border-width: 0px;
    width: 100px;
    height: 50px;
    border-radius: 15px;
}

.margin {
    margin-left: 1000px;
    font-weight: bold;
}

.weight {
    font-weight: bold;
}

.image {
    width: 130px;
    height: 80px;
}

.hr {
    width: 10px;
    color: red;
}

.button2 {
    background-color: white;
    width: 90px;
    height: 50px;
    color: green;
    border-color: green;
    border-radius: 10px;
    margin-left: 400px;
}

.icon {
    font-size: 50px;
}

.icon1 {
    font-size: 40px;
}

.ciseco {
    font-size: 40px;
    font-weight: bold;
}

.class-h1 {
    font-size: 30px;
}